.product {
  display: flex;
  padding: 2rem;
  width: 100%;
  background: var(--items-background-color);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product__btn__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__btn__container button {
  cursor: pointer;
  color: var(--main-font-color);
  background: none;
  border: none;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.product__btn__container button:hover {
  color: var(--main-accent-color);
}

.product__container {
  display: flex;
  width: 100%;
}

.product__container img {
  border-radius: 10px;
  width: 100px;
  margin-right: 2rem;
}

.product__container h1 {
  color: var(--main-font-color);
  text-transform: capitalize;
}

.product__container p {
  color: var(--main-muted-font-color);
  text-transform: capitalize;
}

.product__container__about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
