@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-font-color: #eee;
  --main-accent-color: #23f7b8;
  --main-muted-font-color: hsla(0, 0%, 96%, 0.6);
  --background-color: #1c1c1f;
  --items-color: #2a2a2a;
  --navbar-background-color: #27272b;
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
}
