@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-font-color: #eee;
  --main-accent-color: #25bb8e;
  --main-accent-color-hover: #a6c0b9;
  --main-muted-font-color: #b7bebc;
  --background-color: #1c1c1f;
  --items-background-color: #2b2c30;
  --items-color: #43444b;
  --items-color-darker: #3e3e44;
  --navbar-background-color: #27272b;
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
}
