.navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #27272b;
}

.navbar .navbar__logo {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar .navbar__logo img {
  width: 50px;
  margin-right: 1rem;
}

.navbar .navbar__logo h2 {
  letter-spacing: 1px;
}

.navbar .navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navbar .navbar__links a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.navbar .navbar__links a:hover {
  color: #a9a9a9;
}

.navbar .navbar__links a svg {
  height: 25px;
  margin-right: 1.5rem;
}

.navbar .navbar__logout {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.navbar .navbar__logout:hover {
  color: #a9a9a9;
}

.navbar .navbar__logout svg {
  height: 25px;
  margin-right: 1rem;
}
