table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #eee;
}

table tbody {
  position: static;
}

table td,
table th {
  padding-left: 2rem;
}
table thead tr {
  height: 60px;
  background: var(--items-background-color);
  font-size: 16px;
}

table tbody tr {
  height: 48px;
  border-bottom: 1px solid var(--items-background-color);
}

table tbody tr:nth-child(even) {
  background: var(--items-color);
}

table tbody tr:nth-child(odd) {
  background: var(--items-color-darker);
}

table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table * {
    position: relative;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
    position: relative;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
}
