.food-types__container {
  display: flex;
  flex-direction: column;
  color: #fff;
}

td,
th {
  padding: 8px;
  padding: 0.5rem;
}

th {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
}

td {
  font-family: 'Avenir Next', 'Segoe UI', 'Lucida Grande', sans-serif;
}

.table__heading {
  border-bottom: 2px solid #66f2ff;
}
