.home {
  display: flex;
  width: 100%;
}

.home h1 {
  color: #eee;

}

.home .home__body {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 100%;
  padding: 3rem;
  margin: 0 auto;
}

.home .home__body input {
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #5a5a5a;
  color: hsla(0,0%,100%,.87);
}

.home__body__blocks {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem 2rem;
}

.home__body__blocks__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #2a2a2a;
  color: #eee;
  border-radius: 10px;
  padding: 1rem 1.5rem;
}

.home__body__blocks__item p {
  font-weight: bold;
  font-size: 14px;
  color: hsla(0,0%,96%,.6);
}

.home__body__blocks__item svg {
  height: 50px;
  margin: 1rem 0;
}
