.cartItem {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.cartItem__header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e2e2e9;
  padding-bottom: 12px;
}

.cartItem .cartItem__header img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.cartItem__header .cartItem__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartItem__header .cartItem__description p {
  text-align: left;
  color: rgb(92, 99, 112);
  font-size: 12px;
}

.cartItem__header .cartItem__description h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.cartItem__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 16px;
}

.cartItem__footer__counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f3f3f7;
  font-weight: 500;
  height: 100%;
  border-radius: 999px;
  width: 90px;
  height: 32px;
}

.cartItem__footer__counter p {
  color: rgb(92, 99, 112);
}

.cartItem__footer__counter button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 8px;
}
