.header {
  width: 100%;
  height: 60px;
  box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 30px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-content__logo {
  display: flex;
  align-items: center;
}

.header-content__logo h3 {
  letter-spacing: 1px;
}

.header-content__logo-text {
  margin-left: 0.5rem;
}

.header-content__logo img {
  width: 45px;
  height: 45px;
}

.header-content__list ul {
  display: flex;
}

.header-content__list ul li {
  list-style-type: none;
}

.header-content__list ul li a {
  padding: 1rem 0.5rem;
  color: #000;
  transition: 0.2s ease;
  font-weight: 500;
}

.header-content__list ul li a:hover {
  color: var(--accent-color);
}

.header-content__cart button {
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border: none;
  color: #fff;
  background: var(--accent-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.2s ease;
}

.header-content__cart button:hover {
  background: #de630c;
}
