.banner {
  display: flex;
  height: 170px;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(
    223.73deg,
    rgba(4, 4, 4, 0) 33.33%,
    #000 128.35%,
    #000 128.35%,
    #000 128.35%
  );
  background-image: url("https://ctl.s6img.com/society6/img/BdodsB06eAlUvaTIPbrK3LHYZ9E/w_1500/coffee-mugs/swatch/~artwork,fw_4600,fh_2000,fy_-1300,iw_4600,ih_4600/s6-original-art-uploads/society6/uploads/misc/f997a63f4eee42298ae604229d6e08f3/~~/cute-happy-smiling-pizza-pattern-on-blue-background-mugs.jpg");
  background-size: cover;
  background-color: transparent;
  padding: 1rem;
}
