.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 170px;
  width: 100%;
  background-image: url("https://img.freepik.com/premium-vector/pizza-slice-pattern-background_77417-1411.jpg?w=2000");
  background-size: cover;
  background-color: transparent;
  background-position: center;
  padding: 1rem;
  position: relative;
  border-radius: 15px;
}

.banner::after {
  border-radius: 15px;
  content: "";
  background: linear-gradient(
    223.73deg,
    rgba(4, 4, 4, 0) 10.33%,
    #000 128.35%,
    #000 128.35%,
    #000 128.35%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

.banner h1 {
  z-index: 999;
  font-size: 52px;
}
